// Style Guide

// Layout
$mobile: 375px;
$desktop: 1440px;

// Colors
$dark-blue: hsl(233, 47%, 7%);
$saturate-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);

$transparent-1: hsla(0, 0%, 100%, 0.75);
$transparent-2: hsla(0, 0%, 100%, 0.6);

// Typography: Inter 400, 700
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: $dark-blue;
}
